<% content_for :title, "Sign in" %>
<% content_for :auth_title, "Sign in" %>
  
  <main class="card card--authentication">
    <%= form_with url: session_path, class: "form" do |form| %>

    <%= render "shared/form_errors", object: @user %>

      <div class="field">
        <%= form.label :email_address, "Email address", class: "label" %>
        <%= form.email_field :email_address,
              required: true,
              autofocus: true,
              autocomplete: "username",
              placeholder: "you@example.com",
              value: params[:email_address],
              class: "input" %>
      </div>

      <div class="field">
        <div class="label-row">
          <%= form.label :password, "Password", class: "label" %>
          <%= link_to "Forgot password?", new_password_path, class: "help-link" %>
        </div>

        <%= form.password_field :password,
              required: true,
              autocomplete: "current-password",
              maxlength: 72,
              class: "input" %>
      </div>

      <div class="form-actions">
        <%= form.submit "Sign in", class: "btn btn--primary btn--full" %>
      </div>

    <% end %>
  </main>

  <footer class="card card--authentication-secondary">
    <p class="authentication-footer-text">
      New to Writer Marketplace?
      <%= link_to "Create an account", sign_up_path, class: "help-link" %>
    </p>
  </footer>

</div>
